// Fonts
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Variables
@import 'variables';

// Materialize
@import 'materialize';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#login-page .card-panel.border-radius-6.login-card {
  margin-left: 0 !important;
}
.pt-2 {
  padding-top: 2% !important;
}
.margin {
  margin: 0 !important;
}

.mobile-fab-tip {
  position: fixed;
  right: 85px;
  padding:0 0.5rem;
  text-align: right;
  background-color: #323232;
  border-radius: 2px;
  color: #FFF;
  width:auto;
}

table tr th.non-bold {
  font-weight:normal;
}

table.vertical-table td {
  text-align: right;
}
